/*
Luke Harby
slackwise LTD
https://slackwise.org.uk
2012 - present
*/

/* fonts */
$font__primary: monospace;
$font__bigcaslon: 'Big Caslon';
$font__calluna: 'Calluna';
$font__cascadia: 'CascadiaCode-Light';
$font__fettefraktur: 'FetteFraktur';
$font__helvetica: 'Helvetica Neue';
$font__lores:  'LoRes';
$font__wsh-grotesk: 'WSH Grotesk';
$font__zapfino: 'Zapfino';