/*
Luke Harby
slackwise LTD
https://slackwise.org.uk
2012 - present
*/

@font-face {
    font-family: 'Big Caslon';
    src: local('Big Caslon'), local('BigCaslon'),
      url('../fonts/BigCaslon.otf');
  }
  
  @font-face {
    font-family: 'Calluna';
    src: local('Calluna'), 
      url('../fonts/Calluna-Regular.otf');
  }
  
  @font-face {
    font-family: 'CascadiaCode-Light';
    src: local('CascadiaCode-Light'),
      url('../fonts/CascadiaCode-Light.otf');
  }
  
  @font-face {
    font-family: 'FetteFraktur';
    src: local('FetteFraktur'),
      url('../fonts/Fette-Fraktur.otf');
  }
  
  @font-face {
    font-family: 'Helvetica Neue';
    src: local('Helvetica Neue'),
      url('../fonts/HelveticaNeue-Bold.otf');
  }
  
  @font-face {
    font-family: 'LoRes';
    src: local('LoRes-Bold'),
      url('../fonts/LoRes-Bold.otf');
  }
  
  @font-face {
    font-family: 'WSH Grotesk';
    src: local('WSH Grotesk'),
      url('../fonts/WSH-Grotesk-Regular.otf');
  }
  
  @font-face {
    font-family: 'Zapfino';
    src: local('Zapfino'),
      url('../fonts/Zapfino.otf');
  }