/*
Luke Harby
slackwise LTD
https://slackwise.org.uk
2012 - present
*/

/* css variables */
:root {
    --colour-black: #000000;
    --colour-white: #ffffff;
    --spacing-mid: 2.5rem;
    --spacing-sm: 0.75rem;
    --font-size-root: 100%;
}

/* scss variables */
/* colours */
$palest-grey: #f9f9f9;
$ash-grey: #f0f0f0;
$pale-grey: #ddd;
$mid-grey: #777;
$mid-grey--light: #999;
$red: #ff0000;
$green: #85ff00;
$green-dark: #199376;
$white: #fff;
$dark-grey: #333;
$black: #000;

$text-white: #ffffff;
$text-black: #000000;

/* z-index */
$z-index--1: 1;