/*
Luke Harby
slackwise LTD
https://slackwise.org.uk
2012 - present
*/

@use '../functions/variables' as vars;

.characters {
    ul {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin: 0;
        padding: 0;
        gap: .375rem;

        li {
            display: flex;
            flex: 0 0 5%;
            max-width: calc(5% - .375rem);
            min-height: 4rem;
            justify-content: center;
            align-items: center;
            background-color: vars.$ash-grey;
        }
    }
}