/*
Luke Harby
slackwise LTD
https://slackwise.org.uk
2012 - present
*/

@use '../functions/variables' as vars;

.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    backdrop-filter: blur(0.5rem);
    background-color: hsla(0,0%,100%,.8);
    padding: 0.5rem;
    z-index: vars.$z-index--1;

    &__list {
        display: flex;
        list-style: none;
        margin: 0 0 1rem 0;
        padding: 0;

        li:not(:last-child) {
            margin-right: 1rem;
        }
    }
}