/*
Luke Harby
slackwise LTD
https://slackwise.org.uk
2012 - present
*/

@use '../functions/fonts' as font;

:root {
    --colour-black: #000000;
    --colour-white: #ffffff;
    --spacing-mid: 2.5rem;
    --spacing-sm: 0.75rem;
    --font-size-root: 100%;
}

html, 
body {
    font-size: var(--font-size-root);
}

body {
    font-family: font.$font__primary;
}

a,
a:visited {
    color: var(--colour-black);
}

a:hover {
    text-decoration: none;
}

.page-wrapper {
    padding: 5rem 0;
}

.title {
    padding-top: 4rem;
}