/*
Luke Harby
slackwise LTD
https://slackwise.org.uk
2012 - present
*/

@use '../functions/fonts' as font;

html, 
body {
    font-size: var(--font-size-root);
}

body {
    font-family: font.$font__primary;
}

a,
a:visited {
    color: var(--colour-black);
}

a:hover {
    text-decoration: none;
}

.page-wrapper {
    padding: 5rem 0;
}

.title {
    padding-top: 4rem;
}